* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: $font-family;
}
body {
  min-width: 320px;
}
.container-fluid {
  max-width: 1284px;
  box-sizing: border-box;
}
sup {
  font-size: 12px;
}
select {
  appearance:none;
}
input, select {
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
a:hover {
  text-decoration: none!important;
}
.section {
  padding: 64px 0 0;
  &__title {
    @include firstTitle;
    color: $akcentDark;
    text-align: center;
    margin-bottom: 32px;
  }
}
.d-none {
  display: none;
}
.active {
  display: block;
}