.btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: $neutral;
  background: $logo2;
  border: 2px solid $logo2;
  border-radius: 7px;
  padding: 12px 16px;
  box-shadow: 0px 10px 25px rgba(18, 133, 196, 0.5);
  transition: all 0.3s ease;
  text-align: center;
  &:hover {
    background: $neutral;
    color: $logo2;
    transition: all 0.3s ease;
  }
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: 0 10px 12px rgba(18,133,196,0.2);
    outline: none;
    transition: all 0.3s ease;
  }
}
@include desktop {
  .btn {
    font-size: 16px;
  }
}