.questions {
  background: $logo1;
  color: $neutral;
  padding: 43px 0 0;
  margin-top: 67px;
  &__contacts {
    display: flex;
    &_wrap {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &_img {
      max-width: 836px;
      max-height: 360px;
      width: fit-content;
      height: fit-content;
      z-index: 2;
      img {
        max-width: 100%;
        display: inline-block;
        width: 100%;
        height: auto;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    margin: 0 82px 0 62px;
    &:last-child {
      margin-left: 0;
    }
    &_icon {
      width: 16px;
      height: 18px;
      margin-right: 32px;
    }
    a {
      color: $neutral;
      text-decoration: none;
      transition: all 0.3s ease;
      @include secondaryTitle;
      &:hover {
        color: $logo2;
        transition: all 0.3s ease;
      }
    }
  }
  &-disk-green {
    right: 0;
    top: 0;
  }
}
.disk-questions {
  background: $akcent3;
  width: 199px;
  height: 199px;
  position: absolute;
  top: 89px;
  right: 429px;
}
.circle-questions {
  background: $neutral;
  position: absolute;
  right: 226px;
  top: 114px;
}
.rectangle-blue-questions {
  position: absolute;
  right: 0;
  width: 149px;
  height: 373px;
  top: 0;
}
.rectangle-orange-questions {
  border-radius: 109px;
  transform: rotate(-90deg);
  position: absolute;
  right: 124px;
  top: 42px;
  width: 29px;
  height: 92px;
  z-index: 1;
}
.form {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 43px;
  &__title {
    @include firstTitle;
    text-transform: uppercase;
    color: $neutral;
    margin-bottom: 0;
    text-align: center;
  }
  &__subtitle {
    @include firstTitle;
    text-align: center;
    margin-bottom: 32px;
  }
  &__description {
    @include blockText;
    font-weight: 700;
    text-align: center;
    margin-bottom: 18px;
  }
  >.controls {
    margin-bottom: 15px;
    position: relative;
    .error {
      position: absolute;
      top: 100%;
      right: 0;
      transform: translate(-50%, 0);
      font-size: 12px;
      color: red;
    }
  }
  &__input {
    width: 100%;
    height: 47px;
    border-radius: 65px;
    background: $neutral;
    border: none;
    padding-left: 25px;
    display: inline-block;
    color: #000;
    &::placeholder {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #C5C6BC;
    }
  }
  &__textarea {
    width: 100%;
    height: 100px;
    border-radius: 25px;
    background: $neutral;
    border: none;
    padding-left: 25px;
    padding-top: 15px;
    display: inline-block;
    color: #000;
    &::placeholder {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #C5C6BC;
    }
  }
  &__btn {
    max-width: 134px;
    margin: 0 auto;
  }
}

@include laptop {
  .rectangle-blue-questions {
    width: 99px;
    height: 293px;
  }
  .rectangle-orange-questions {
    right: 89px;
  }
  .circle-questions {
    right: 178px;
  }
  .disk-questions {
    width: 100px;
    height: 100px;
    top: 78px;
    right: 549px;
  }
}
@include tablet {
  .questions__contacts {
    flex-direction: column;
  }
  .questions__item {
    margin: 0 auto 16px;
  }
  .questions__item:last-child {
    margin: 0 auto;
  }
  .disk-questions {
    right: unset;
  }
  .circle-questions {
    top: 144px;
  }
}
@include phones {
  .disk-questions, .circle-questions, .rectangle-blue-questions {
    display: none;
  }
  .rectangle-orange-questions {
    right: 20px;
    top: 58px;
    width: 19px;
    height: 72px;
  }
}

//Excursion
.excursion {
  background: $logo1;
  color: $neutral;
  padding: 43px 0 10px;
  &__title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 45px;
    color: $neutral;
    text-align: center;
    margin-bottom: 32px;
  }
  &__form {
    margin: 0 0 43px;
    &_select {
      select {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #C5C6BC;
        option:first-child {
          color: #C5C6BC;
        }
        option {
          color: #000;
        }
      }
      &:after {
        content: "";
        display: inline-block;
        width: 11px;
        height: 11px;
        background: url("../img/forms/select-arrow.svg")no-repeat center center/cover;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-25px, -50%);
      }
    }
  }
  &__img_wrap {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__img {
    width: 550px;
    height: 352px;
    position: relative;
    img {
      position: absolute;
      max-width: 100%;
      width: 100%;
      height: auto;
      display: inline-block;
      top: -51px;
      left: 20px;
      z-index: 1;
    }
  }
  &__btn {
    max-width: 260px;
  }
  &__disk {
    width: 130px;
    height: 130px;
    background: #FFEFC5;
    position: absolute;
    top: 131px;
    right: -116px;
    z-index: 2;
  }
  &__disk-blue {
    position: absolute;
    top: 4px;
    left: 73px;
    width: 244px;
    height: 244px;
    background: $akcent1;
  }
  &__rectangle {
    position: absolute;
    top: 248px;
    right: -157px;
    width: 299px;
    height: 71px;
    background: #F5CD54;
    border-radius: 45px;
    z-index: 1;
  }
  &__circle-white {
    position: absolute;
    top: 37px;
    right: 43px;

  }
}
@include desktop {
  .excursion__form {
    margin: 0 auto 43px;
  }
  .excursion__img {
    margin: 0 auto;
  }
  .excursion__disk-blue {
    left: -150px;
  }
}
@include laptop {
  .excursion__disk-blue {
    left: -70px;
    width: 200px;
    height: 200px;
  }
  .excursion__rectangle {
    right: -107px;
    width: 257px;
    height: 58px;
  }

  element.style {
  }
  .excursion__disk {
    width: 110px;
    height: 110px;
    top: 157px;
    right: -90px;
  }
}
@include tablet {
  .excursion__circle-white {
    display: none;
  }
  .excursion__disk {
    display: none;
  }
  .excursion__disk-blue {
    left: -110px;
  }
  .excursion__img {
    margin: 0;
    margin-left: auto;
  }
  .excursion__img img {
    left: 0;
  }
  .excursion__rectangle {
    right: 0;
  }
}
@include phones {
  .excursion__disk-blue {
    width: 100px;
    height: 100px;
    left: 0;
  }
  .excursion__rectangle {
    display: block;
    top: 104px;
    width: 140px;
    height: 40px;
  }
  .excursion__img img {
    width: 288px;
    height: 185px;
  }
  .excursion__img {
    width: 288px;
    height: 185px;
    margin: 0 auto;
  }
  .excursion {
    padding: 43px 0 0;
  }
}

//Popup-form
  .popup-form {
    width: 320px;
  }
  .form__subtitl-feedback {
    color: #ffffff;
    max-width: 320px;
  }
@include phones {
  .popup-form {
    width: 100%;
  }
}

//Validate
.msg {
  display: none;
  max-width: 320px;
  width: 80%;
  position: fixed;
  padding: 25px 15px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  border-radius: 7px;
  font-weight: 500;
  opacity: 0;
  cursor: pointer;
  z-index: 5555555;
}

.showmsg {
  visibility: visible !important;
  opacity: 1 !important;
  -webkit-transform: translateY(-5vh);
  -ms-transform: translateY(-5vh);
  transform: translateY(-5vh);
  -webkit-animation: shadow  0.3s 2.5s forwards ease-in-out;
  animation: shadow  0.3s 2.5s forwards ease-in-out;
}

.inputerror {
  border-color: #DC352F !important;
  animation: shake 0.15s 3 forwards ease-in-out;
}

@keyframes shake {
  from {transform: translateX(0px);}
  50% {transform: translateX(3px);}
  to {transform: translateX(-3px);}
}
.controls {
  position: relative;
}

