.slider-button-prev, .slider-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: $akcent1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-pagination-bullets {
  display: flex;
  width: fit-content;
  z-index: 2;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: $akcent7;
  border-radius: 50%;
  display: block;
  margin-right: 16px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &-active {
    background: $akcent1;
  }
}
@include phones {
  .slider-button-prev,
  .slider-button-next {
    width: 30px;
    height: 30px;
  }
}

//Home News
.news__slider_wrapper {
  margin-bottom: 29px;
}
.slider-pagination-bullets {
  margin: 0 auto 31px;
}
.news__slider {
  position: relative;
  margin: 0 auto;
}
.news__slider_container {
  max-width: 1284px;
  width: 85%;
}
.news__slide_link {
  width: 100%;
  height: 100%;
  display: inline-block;
  img {
    max-width: 100%;
    display: inline-block;
    width: 100%;
    height: auto;
    margin-bottom: 27px;
  }
}

.news__slide_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: $akcentDark;
  margin-bottom: 12px;
  text-align: center;
}
.news__slide_desc {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $akcentDark;
  max-height: 71px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 555;
  &:focus {
    outline: none;
  }
}
//.news-slider-button-prev {
//  transform: translate(50%, -50%);
//}
//.news-slider-button-next {
//  transform: translate(-50%, -50%);
//}
.swiper-button-next {
  right: 0;
  cursor: pointer;
}
.swiper-button-prev {
  left: 0;
  cursor: pointer;
}

@include desktop {
  .news__slider_container, .news__slider-wrap {
    width: 85%;
  }
  .news__slide_desc {
    max-height: 105px;
  }
}
@include laptop {
  .news__slider_container, .news__slider-wrap {
    width: 80%;
  }
}


.news {
  padding-bottom: 62px;
}
.news__btn {
  display: block;
  width: 227px;
  margin: 0 auto;
  padding: 12px 12px;
}

//House General View

.general-view__slider {
  &_container {
    width: 100%;
    position: relative;
    margin-bottom: 16px;
    .swiper-pagination-bullet {
      background: $neutral;
      &-active {
        background: $logo2;
      }
    }
  }
  &_link {
    img {
      max-width: 100%;
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
  &_pagination-bullets {
    bottom: 25px;
    left: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%);
  }
  &_button-prev {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(50%,-50%);
    left: 0;
  }
  &_button-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    right: 0;
  }
}
.general-view__thumbs_slide {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
  }
}
@include tablet {
  .general-view__slider_button-prev,
  .general-view__slider_button-next {
    width: 30px;
    height: 30px;
  }
}.general-view__slider {
  &_container {
    width: 100%;
    position: relative;
    margin-bottom: 16px;
    .swiper-pagination-bullet {
      background: $neutral;
      &-active {
        background: $logo2;
      }
    }
  }
  &_link {
    img {
      max-width: 100%;
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
  &_pagination-bullets {
    bottom: 25px;
    left: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%);
  }
  &_button-prev {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(50%,-50%);
    left: 0;
  }
  &_button-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    right: 0;
  }
}
.general-view__thumbs_slide {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
  }
}
@include tablet {
  .general-view__slider_button-prev,
  .general-view__slider_button-next {
    width: 30px;
    height: 30px;
  }
}

//Unfinished House
.unfinished-house__slider {
  &_container {
    width: 100%;
    position: relative;
    .swiper-pagination-bullet {
      background: $neutral;
      &-active {
        background: $logo2;
      }
    }
  }
  &_link {
    img {
      max-width: 100%;
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
  &_pagination-bullets {
    bottom: 25px;
    left: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%);
  }
  &_button-prev {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(50%,-50%);
    left: 0;
  }
  &_button-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    right: 0;
  }
}
.unfinished-house__thumbs_slide {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
  }
}
@include tablet {
  .unfinished-house__slider_button-prev,
  .unfinished-house__slider_button-next {
    width: 30px;
    height: 30px;
  }
}.unfinished-house__slider {
   &_container {
     width: 100%;
     position: relative;
     .swiper-pagination-bullet {
       background: $neutral;
       &-active {
         background: $logo2;
       }
     }
   }
   &_link {
     img {
       max-width: 100%;
       display: inline-block;
       width: 100%;
       height: auto;
     }
   }
   &_pagination-bullets {
     bottom: 25px;
     left: 50%;
     position: absolute;
     z-index: 2;
     transform: translate(-50%);
   }
   &_button-prev {
     position: absolute;
     top: 50%;
     z-index: 1;
     transform: translate(50%,-50%);
     left: 0;
   }
   &_button-next {
     position: absolute;
     top: 50%;
     z-index: 1;
     transform: translate(-50%,-50%);
     right: 0;
   }
 }
.unfinished-house__thumbs_slide {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: inline-block;
  }
}
@include tablet {
  .unfinished-house__slider_button-prev,
  .unfinished-house__slider_button-next {
    width: 30px;
    height: 30px;
  }
}

//Progress Build

.progress-build__slider {
  width: 100%;
  position: relative;
  &_container {
    max-width: 1284px;
    width: 100%;
  }
  &_wrapper {
    width: 100%;
  }
  &_slide {
    width: 290px;
    border-radius: 15px;
    display: inline-block;
    @include blockText;
    color: $akcentDark;
    text-decoration: none;
    text-align: center;
    img {
      max-width: 100%;
      display: inline-block;
      width: 100%;
      height: auto;
      margin-bottom: 32px;
      border-radius: 15px;
    }
  }
}
.progress-build__slider-button-next {
  transform: translate(110%, -50%);
}
.progress-build__slider-button-prev {
  transform: translate(-110%, -50%);
}
@media screen and (max-width: 1400px ) {
  .progress-build__slider-button-next {
    transform: translate(0%, -50%);
  }
  .progress-build__slider-button-prev {
    transform: translate(0%, -50%);
  }
}
@include desktop {
  .progress-build__slider_container {
    max-width: 960px;
  }
}
@include laptop {
  .progress-build__slider_container {
    max-width: 720px;
  }
}
@include tablet {
  .progress-build__slider_container {
    max-width: 540px;
  }
}
@include phones {
  .progress-build__slider_container {
    max-width: 290px;
  }
  .progress-build__slider_slide {
    width: 100%;
  }
}

//Standard Design

.standard-design__slider {
  width: 100%;
  position: relative;
  margin-bottom: 64px;
  &_container {
    //max-height: 620px;
    max-width: 1284px;
  }
  &_wrapper {
    width: 100%;
  }
  &_slide {
    display: inline-block;
    width: 100%;
    height: auto;
    //max-height: 620px;
    img {
      max-width: 100%;
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
}
.standard-design__slider-button-prev {
  transform: translate(-110%, -50%);
}
.standard-design__slider-button-next {
  transform: translate(110%, -50%);
}
@media screen and (max-width: 1400px ) {
  .standard-design__slider-button-next {
    transform: translate(0%, -50%);
  }
  .standard-design__slider-button-prev {
    transform: translate(0%, -50%);
  }
}
@include desktop {
  .standard-design__slider_container {
    max-width: 960px;
  }
}
@include laptop {
  .standard-design__slider_container {
    max-width: 720px;
  }
}
@include tablet {
  .standard-design__slider_container {
    max-width: 540px;
  }
}
@include phones {
  .standard-design_slider_container {
    max-width: 290px;
  }
}

//Banks
.bank {
  padding: 50px 0 65px;
}
.bank__slider {
  width: 100%;
  position: relative;
  &_container {
    max-width: 1284px;
    width: 100%;
  }
  &_wrapper {
    width: 100%;
  }
  &_slide {
    display: block;
    @include blockText;
    color: $akcentDark;
    text-decoration: none;
    text-align: center;
  }
  &_logo {
    height: 150px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      display: block;
    }
  }
  &_title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
  }
  &_desc {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
  }
}
.bank__slider-button-prev {
  transform: translate(-110%, -50%);
}
.bank__slider-button-next {
  transform: translate(110%, -50%);
}
@media screen and (max-width: 1400px ) {
  .bank__slider-button-next {
    transform: translate(0%, -50%);
  }
  .bank__slider-button-prev {
    transform: translate(0%, -50%);
  }
}
@include desktop {
  .bank__slider_container {
    max-width: 960px;
  }
}
@include laptop {
  .bank__slider_container {
    max-width: 720px;
  }
}
@include tablet {
  .bank__slider_container {
    max-width: 540px;
  }
}
@include phones {
  .bank__slider_container {
    max-width: 290px;
  }
  .bank__slider_slide {
    width: 100%;
  }
}