.faq {
  padding: 137px 0 0;
  &__img {
    width: 442px;
    height: 249px;
    margin: 0 auto 49px;
    position: relative;
  }
  &__bg {
    width: 442px;
    height: 249px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  &-question-mark {
    position: absolute;
    width: 152px;
    height: 240px;
    top: -75px;
    left: -55px;
    display: inline-block;
  }
  &-circle-green {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    top: 28px;
    right: -126px;
    transform: rotate(180deg);
  }
  &-rectangle-green {
    width: 142px;
    height: 232px;
    border-radius: 169px;
    background: $akcent4;
    position: absolute;
    top: -13px;
    right: -43px;
  }
  &-rectangle-gray {
    width: 186px;
    height: 48px;
    border-radius: 169px;
    background: $akcent3;
    position: absolute;
    bottom: -17px;
    left: -58px;
    z-index: 3;
  }
  &__desc {
    margin: 0 auto 72px;
    text-align: center;
    max-width: 695px;
    width: 100%;
    @include secondaryTitle;
    color: $akcentDark;
  }
  &__item {
    padding: 32px;
    border: 3px solid $akcent7;
    background: $akcent7;
    margin-bottom: 32px;
    transition: all 0.3s ease;
  }
  &__item-active {
    background: inherit;
    transition: all 0.3s ease;

  }
  &__item_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 52px;
    color: $akcentDark;
  }
  &__item_question {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
  }
  &__item_question-active {
    flex-direction: row;
    align-items: center;
    transition: all 0.3s ease;
    ~ .faq__item_title_down {
      display: none;
    }
    p {
      @include blockText;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  &__item_number {
    @include blockText;
  }
  &__item_title {
    @include secondaryTitle;
    cursor: pointer;
    max-width: 796px;
  }
  &__item_title_down {
    display: flex;
    align-items: center;
    color: $akcentDark;
    cursor: pointer;
    p {
      @include blockText;
      color: $akcentDark;
      margin-right: 45px;
    }
    >.icon-chevron-down {
      &::before {
        content: "\e900";
        display: block;
        color: $akcentDark;
        font-size: 13px;
      }
    }
  }
  &__item_title_up {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 16px;
    p {
      margin-right: 45px;
      @include blockText;
      color: $akcentDark;
      width: fit-content;
      margin-left: auto;
    }
    > .icon-chevron-down {
      &:before {
        content: "\e900";
        display: block;
        color: $akcentDark;
        font-size: 13px;
      }

    }
  }
  &__item_body {
    @include secondaryTitle;
    color: $akcentDark;
    display: none;
    margin-top: 32px;
  }
  &__btn {
    display: block;
    margin: 0 auto 64px;
    max-width: 244px;
  }
}
@include desktop {
  .faq__item_question-active {
    flex-direction: column;
    align-items: flex-start;
  }
}
@include laptop {
  .faq__item_title_down p {
    display: none;
  }
  .faq__item_title {
    width: 95%;
  }
  .faq__item_desc_list {
    font-size: 20px;
  }
  .faq__item_title_down>.icon-chevron-down::before {
    font-size: 10px;
  }
}
@include tablet {
  .faq-circle-green {
    display: none;
  }
  .faq__item {
    padding: 32px 15px;
  }
  .faq__item_body {
    font-size: 20px;
  }
}
@include phones {
  .faq {
    padding: 64px 0;
  }
  .faq__img {
    width: 288px;
    height: 161px;
  }
  .faq__bg {
    width: 100%;
    height: 100%;
  }
  .faq-question-mark {
    width: 62px;
    height: 157px;
    top: -45px;
    left: -13px;
  }
  .faq-rectangle-green {
    width: 70px;
    height: 115px;
    top: 0;
    right: 0;
  }
  .faq-rectangle-gray {
    width: 93px;
    height: 24px;
    bottom: -12px;
    left: -5px;
  }
}
