.general-view {
  &__gallery_item {
    margin-top: 16px;
  }
  &_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  &__gallery_link {
    display: block;
    img {
      max-width: 100%;
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
  &__specification {
    width: 100%;
    height: 100%;
    padding: 61px 62px 51px;
    background: $akcentDark;
    &_title {
      @include secondaryTitle;
      color: $neutral;
      margin-bottom: 32px;
    }
    &_item {
      font-family: "Roboto", sans-serif;
      line-height: 30px;
      font-size: 20px;
      margin-bottom: 10px;
      p {
        font-weight: 300;
        color: #C4C4C4;
      }
      span {
        font-weight: bold;
        color: $neutral;
      }
      ul {
        li {
          font-weight: bold;
          color: $neutral;
        }
      }
    }
  }
  &__text {
    @include blockText;
    color: $akcentDark;
    margin: 32px 0 0;
  }
}
@include desktop {
  .general-view__specification {
    padding: 30px 25px 0;
    &_item {
      font-size: 18px;
    }
  }
}
@include laptop {


  .general-view__specification_item {
    font-size: 16px;
  }
  .general-view__gallery_list {
    flex-wrap: wrap;
  }
}
@include tablet {
  .general-view__specification_title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@include phones {
  .general-view_wrap {
    flex-direction: column;
  }
  .general-view_img {
    width: 100%;
    margin-bottom: 32px;
  }
  .general-view__gallery_list {
    justify-content: center;
  }
  .general-view__specification {
    margin-top: 16px;
  }

}

//House Gallery
.house__gallery {
  margin-top: 64px;
  &_item {
    position: relative;
    height: auto;
    margin-bottom: 32px;
    img {
      max-width: 100%;
      display: inline-block;
      width: 100%;
      height: auto;
    }
    &-layout {
      background: rgba(42, 42, 42, 0.5);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: -1px 5px 5px rgba(9, 9, 9, 0.2);
      opacity: 0;
      transition: all 0.3s ease;
    }
    &:hover .house__gallery_item-layout {
      opacity: 1;
      transition: all 0.3s ease;
    }
  }
  &_btn {
    width: 292px;
    height: 93px;
    border-radius: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    background: $logo2;
    box-shadow: 0px 10px 25px rgba(18, 133, 196, 0.5);
    transition: all 0.3s ease;
    text-align: center;
    color: $neutral;
  }
}
@include laptop {
  .house__gallery_btn {
    width: 252px;
    height: 79px;
    font-size: 25px;
    line-height: 30px;
  }
}
@include tablet {
  .house__gallery_btn {
    width: 167px;
    height: 56px;
    font-size: 16px;
    line-height: 21px;
  }
}
@include phones {
  .house__gallery_item {
    margin: 0 auto 25px;
  }
  .house__gallery_btn {
    width: 167px;
    height: 56px;
    font-size: 16px;
    line-height: 21px;
  }
}

// Facing

.facing {
  &__item {
    width: 100%;
    padding-bottom: 64px;
  }
  &__img {
    margin: 0 auto;
    width: 100%;
    height: 182px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {

    }
  }
  &__desc {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $akcentDark;
  }
}
@include laptop {
  .facing__img {
    margin-bottom: 10px;
    height: 160px;
  }
  .facing__item {
    margin-bottom: 25px;
  }
  .facing__item {
    padding-bottom: 0;
  }
  .standard-design {
    padding-top: 64px!important;
  }
}
@include tablet {

}
@include phones {


}


// Standard Design
.standard-design {
  padding-top: 0;
  &__title {
    @include secondaryTitle;
    margin-bottom: 32px;
  }
}

//Documents
.documents {
  padding: 64px 0 32px;
  &__list {
    max-width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  &__item {
    width: fit-content;
    margin: 0 5px 32px 5px;
    width: 25%;
    min-width: 202px;
  }
  &__item_icon {
    display: block;
    margin: 0 auto 16px;
  }
  &__item_title {
    @include blockText;
    color: $akcentDark;
    text-align: center;
    margin-bottom: 32px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item_btn {
    width: 202px;
    display: block;
    margin: 0 auto;
  }
}
@include laptop {

}
@include tablet {

  .documents {
    padding: 64px 0 32px;
  }
}
@include phones {
  .documents__list {
    justify-content: space-around;
  }
}

//Select Flat
.select-flat__select_wrap {
  display: flex;
  flex-direction: column;
}
.select-porch {
  display: flex;
  margin-bottom: 32px;
  &__title {
    width: 95px;
    @include blockText;
    color: $akcentDark;
    margin-right: 95px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
    input {
      display: none;
      &:checked ~ label {
        background: $logo2;
        color: $neutral;
      }
    }
    label {
      @include secondaryTitle;
      color: $akcent10;
      cursor: pointer;
      width: 141px;
      height: 49px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.flat__status {
  &_list {
    display: flex;
    margin-bottom: 32px;
  }
  &_color {
    width: 47px;
    height: 47px;
    border-radius: 15px;
    margin-right: 32px;
    &-free {
      background: $akcent2;
    }
    &-sales {
      background: $akcent8;
    }
    &-reserved {
      background: $akcent5;
    }
  }
  &_item {
    margin-right: 64px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.select-flat {
  padding: 32px 0 144px;
  >.container-fluid {
    position: relative;
  }
  &__circle-orange {
    position: absolute;
    top: 137px;
    right: 58px;
    transform: rotate(-90deg);
    margin-bottom: 0;
  }
  &__circle-blue {
    position: absolute;
    bottom: -300px;
    left: 62px;
    transform: rotate(90deg);
  }
}
.flat__result {
  &_wrap {
    border: 1px solid $akcentDark;
  }
  &_row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $akcentDark;
    &:last-child {
      border-bottom: none;
    }
    &_title {
      display: block;
      @include blockText;
      color: $akcentDark;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin: 0 auto;
    }
  }
  &_list {
    display: flex;
    width: 80%;
  }
  &_item {
    padding: 13px 27px 29px;
    width: 25%;
    height: 190px;
    border-left: 1px solid $akcentDark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &_item_head {
    display: flex;
    justify-content: space-between;
    @include secondaryTitle;
    color: $akcentDark;
    width: 100%;
  }
  &_item_body {
    @include blockText;
    color: $akcentDark;
    margin-bottom: 4px;
    text-align: center;
  }
  &_item_link {
    display: block;
    @include blockText;
    color: $akcentDark;
    font-weight: bold;
    text-align: center;
  }
}
@include desktop {
  .flat__result_row {
    flex-direction: column;
  }
  .flat__result_row_title {
    height: 59px;
  }
  .flat__result_list {
    border-top: 1px solid $akcentDark;
    width: 100%;
  }
  .flat__result_item {
    &:first-child {
      border-left: none;
    }
  }
  .flat__result_wrap {
    width: 100%;
  }
  .flat__result_item {
    width: 25%;
  }
}
@media screen and (max-width: 1050px ) {
  .select-flat__circle-orange {
    display: none;
  }
}
@include tablet {
  .select-flat {
    max-width: 540px;
    margin: 0 auto;
  }
  .select-porch {
    justify-content: space-between;
  }
  .select-porch__item {
    margin-right: 0;
  }
  .flat__result_wrap {
    max-width: 530px;
    margin: 0 auto;
  }
  .flat__status_list {
    justify-content: space-around;
  }
  .flat__status_item {
    margin-right: 0;
  }
  .flat__result_list {
    flex-wrap: wrap;
  }
  .flat__result_item {
    width: 50%;
  }
  .flat__result_list {
    border: none;
  }
  .flat__result_item {
    border-top: 1px solid $akcentDark;
    border-left: none;
    &:nth-child(odd) {
      border-right: 1px solid $akcentDark;
    }
  }
  .select-flat__circle-orange, .select-flat__circle-blue {
    display: none;
  }
  .select-flat {
    padding: 32px 0 32px;
  }
}
@include phones {
  .select-porch__title {
    text-align: center;
    margin-bottom: 32px;
    margin-right: 55px;
  }
  .select-porch__list {
    align-items: center;
  }
  .select-porch__item {
    margin-bottom: 16px;
  }
  .flat__status_list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flat__status_item {
    margin-bottom: 32px;
  }
  .flat__status_color {
    margin-right: 16px;
  }
  .flat__result_item {
    &:nth-child(odd) {
      border-right: none;
    }
  }
  .flat__result_item_head {
    font-size: 20px;
  }
  .flat__result_item_body {
    font-size: 16px;
    margin-bottom: 0;
  }
  .flat__result_item_link {
    font-size: 12px;
    line-height: 20px;
  }
  .flat__result_item {
    height: auto;
    padding: 15px 25px;
  }
}