.news-page {
  &__item {
    margin-bottom: 64px;
    list-style-type: none;
  }
  &__item_head {
    display: flex;
    margin-bottom: 32px;
  }
  &__data_icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    img {
      max-width: 100%;
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
  &__data_text {
    @include blockText;
    color: $akcentDark;
  }
  &__item_body {
    display: flex;
  }
  &__item_img {
    max-width: 716px;

    margin-right: 32px;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &__item_wrap {
    width: 33%;
  //  p {
  //    margin-bottom: 32px;
  //    @include blockText;
  //    color: $akcentDark;
  //    span {
  //      @include blockText;
  //      color: $akcentDark;
  //      margin-bottom: 32px;
  //      display: block;
  //    }
  //  }
  //  ul {
  //    list-style: disc;
  //    padding-left: 20px;
  //    p {
  //      @include secondaryTitle;
  //      display: block;
  //      margin-bottom: 32px;
  //    }
  //    span {
  //      @include secondaryTitle;
  //      display: block;
  //      margin-bottom: 32px;
  //    }
  //    li {
  //      margin-bottom: 16px;
  //      &:last-child {
  //        margin-bottom: 0;
  //      }
  //      p {
  //        @include blockText;
  //        color: $akcentDark;
  //        margin-bottom: 0;
  //        span {
  //          @include blockText;
  //          color: $akcentDark;
  //          margin-bottom: 0;
  //        }
  //      }
  //      span {
  //        @include blockText;
  //        color: $akcentDark;
  //        margin-bottom: 0;
  //      }
  //    }
  //  }
  }
  &__item_title {
    @include secondaryTitle;
    color: $akcentDark;
    margin-bottom: 16px;
  }
}
@include laptop {
  .news-page__item_body {
    flex-direction: column;
  }
  .news-page__item_img {
    width: 100%;
    margin: 0 auto 32px;
    height: auto;
    img {
      height: auto;
    }
  }
  .news-page__item_wrap {
    width: 100%;
  }
  .news-page__item_text {
    margin-bottom: 64px;
  }
  .news-page__item-btn {
    display: block;
    width: 134px;
    margin: 0 auto;
  }
}
@include tablet {
  .news-page__item_img {
    height: auto;
  }
  .news-page__item_img img {
    height: auto;
  }
  .news-page__item_text {
    margin-bottom: 32px;
  }
}