.objects {
  padding: 27px 0 0;
  &__select {
    &_item {
      input {
        display: none;
        &:checked ~ label {
          color: $neutral;
          background: $logo2;
          padding: 16px;
          text-align: center;
        }
      }
    }
    &_list {
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
    }
    &_btn {
      cursor: pointer;
      @include blockText;
      font-weight: bold;
      color: $akcentDark;
      padding: 16px;
    }
  }
  &__item {
    width: 100%;
    margin-bottom: 32px;
    &_img {
      width: 100%;
      max-height: 290px;
      margin-bottom: 36px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &_desc {
      @include secondaryTitle;
      color: $akcentDark;
      text-align: center;
      margin-bottom: 30px;
    }
    &_btn {
      color: $neutral;
      width: 134px;
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $logo2;
      box-shadow: 0px 10px 25px rgba(18, 133, 196, 0.5);
      border-radius: 7px;
      border: 2px solid $logo2;
      margin: 0 auto;
      transition: all 0.3s ease;
      &:hover {
        background: $neutral;
        color: $logo2;
        transition: all 0.3s ease;
      }
    }
  }
}
@include tablet {
  .objects__item_img {
    max-height: unset;
  }
}
@include phones {
  .objects__select_list {
    flex-direction: column;
    align-items: center;
  }
  .objects__item_img {
    width: 288px;
    height: 288px;
    margin: 0 auto 32px;
  }
}
//Подбор квартиры

.parameters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: $akcentDark;
  @include blockText;
  margin-bottom: 32px;
  &__list {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
  &__block {
    margin-right: 79px;
    &:last-child {
      margin-right: 0;
    }
    &_title {
      text-align: center;
      margin-bottom: 16px;
    }
    &_list {
      display: flex;
    }
    &_item-rooms {
      margin-right: 16px;
      &:first-child {
        label {
          padding: 16px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      input {
        display: none;
        &:checked ~ label {
          background: #ff9f4a;
        }
      }
      label {
        padding: 16px 32px;
        border: 1px solid $akcent10;
        @include blockText;
        color: #000000;
        cursor: pointer;
      }
    }
    &_item-cost {
      display: flex;
      align-items: center;
      width: 182px;
      border-top: 1px solid $akcent10;
      border-bottom: 1px solid $akcent10;
      padding: 16px;
      &:first-child {
        border-left: 1px solid $akcent10;
        position: relative;
        &:after {
          position: absolute;
          content: '|';
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
          color: #C5C6BC;
        }
      }
      &:last-child {
        border-top: 1px solid $akcent10;
        border-right: 1px solid $akcent10;
        border-bottom: 1px solid $akcent10;
        padding: 16px 16px 16px 28px;
      }
      input {
        border: none;
        width: 100%;
        height: 20px;
        &::placeholder {
          color: #C5C6BC;
          @include blockText;
          font-weight: 500;
        }
      }
      >label {
        margin-right: 5px;
        cursor: pointer;
        @include blockText;
      }
    }
  }
  &__subtitle {
    margin-right: 90px;
  }
  &__btn {
    display: block;
    margin-left: auto;
  }
}
@include desktop {
  .parameters__btn {
    margin: 25px auto;
  }
  .parameters__subtitle {
    margin-right: unset;
  }
}
@include laptop {
  .parameters__block_list-rooms, .parameters__block_list-cost {
    justify-content: center;
  }
  .parameters__block-cost {
    margin-top: 25px;
  }
}
@include phones {
  .parameters__block_list-rooms {
    flex-wrap: wrap;
    text-align: center;
  }
  .parameters__block_item-rooms {
    margin-right: 0;
    margin-bottom: 16px;
    label {
      width: 150px;
      height: 57px;
    }
  }
  .parameters__block_item-cost {
    &:last-child {
      padding: 16px 16px 16px 18px;
    }
    label {
      font-size: 16px;
    }
    input {
      &::placeholder {
        font-size: 16px;
      }
    }
  }
}

//Расширенный поиск

.advanced-search {
  &__res_btn {
    margin: 32px auto;
    max-width: 127px;
    display: block;
  }
  &__btn {
    max-width: 256px;
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $akcentDark;
    @include blockText;
    margin-bottom: 32px;
  }
  &__block {
    select {
      padding: 16px;
      width: 100%;
      color: #C5C6BC;
      @include blockText;
      font-weight: 500;
      position: relative;
      background: url("../img/select-flat/select-arrow.svg") no-repeat 95% center;
      option {
        color: $akcentDark;
        @include blockText;
      }
    }
    &_list {
      display: flex;
    }
    &_title {
      text-align: center;
      margin-bottom: 16px;
    }
    &-area {
      width: fit-content;
    }
    &_item {
      &-area {
        display: flex;
        align-items: center;
        width: 77px;
        border-top: 1px solid $akcent10;
        border-bottom: 1px solid $akcent10;
        padding: 16px;
        &:first-child {
          border-left: 1px solid $akcent10;
          position: relative;
          &:after {
            position: absolute;
            content: '|';
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            color: #C5C6BC;
          }
        }
        &:last-child {
          border-top: 1px solid $akcent10;
          border-right: 1px solid $akcent10;
          border-bottom: 1px solid $akcent10;
          padding: 16px 16px 16px 28px;
        }
        input {
          border: none;
          width: 100%;
          height: 22px;
          &::placeholder {
            color: #C5C6BC;
            @include blockText;
            font-weight: 500;
          }
        }
        >label {
          margin-right: 5px;
          cursor: pointer;
          @include blockText;
        }
      }
      &-floor {

        @include blockText;
        color: #000000;
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        input {
          display: none;
          &:checked ~ label {
            background: #ff9f4a;
          }
        }
        label {
          padding: 16px 32px;
          border: 1px solid $akcent10;
          cursor: pointer;
        }
      }
    }
  }
}
@include desktop {
  .advanced-search__block-floor {
    width: fit-content;
    margin-bottom: 25px;
  }
  .advanced-search__block-area {
    margin-bottom: 25px;
  }
}
@include tablet {
  .advanced-search__block_item-floor label {
    padding: 16px 30px;
  }
  .advanced-search__block select {
    width: 288px;
    display: block;
    margin: 0 auto 25px;
  }
}
@include phones{
  .advanced-search__block-area {
    margin: 0 auto 25px;
  }
  .advanced-search__block_item-area {
    width: 50%;
  }
  .advanced-search__block_item-area input::placeholder {
    font-size: 16px;
  }
  .advanced-search__block_list {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .advanced-search__block_item-floor {
    margin: 0 0 16px 0;
    label {
      width: 150px;
      height: 57px;
    }
  }
  .advanced-search__res_btn {
    margin: 0 auto 32px;
  }
}

//Результаты подбора

.select-result {
  &__title {
    @include secondaryTitle;
  }
  &__list {
  }
  &__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C5C6BC;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 64px;
    }
    &-desc {
      width: 66%;
      display: flex;
      position: relative;
      padding: 36px 0 27px 109px;
      &:after {
        content: '';
        width: 1px;
        height: 80%;
        background: #C5C6BC;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
      }
    }
    &-coast {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &_amount {
      @include firstTitle;
      color: $akcentDark;
      margin-bottom: 16px;
    }
    &_part-amount {
      @include blockText;
      color: #C5C6BC;
    }
  }
  &__delineation {
    display: flex;
    align-items: center;
    &_img {
      width: 158px;
      height: 182px;
      margin-right: 32px;
      img {
        max-width: 100%;
        width: 100%;
        display: inline-block;
      }
    }
    &_text {
    > p {
      margin-bottom: 16px;
    }
    }
    &_address {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: $akcent10;
    }
    &_flat {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: $akcentDark;
    }
    &_floor {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: $akcent10;
    }
    &_status {
      width: 121px;
      height: 26px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #98B620;
      color: #98B620;
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      padding: 0 16px;
    }
  }
}
@include desktop {
  .select-result__item-desc {
    padding: 27px;
  }
}
@include tablet {
  .select-result__item {
    flex-direction: column;
  }
  .select-result__item-desc, .select-result__item-coast {
    width: 100%;
  }
  .select-result__item-desc, .select-result__item-coast {
    padding: 25px;
  }
    .select-result__item-desc:after {
    content: '';
    width: 80%;
    height: 1px;
    background: #c5c6bc;
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translate(50%, 0);
  }
}
@include phones {
  .select-result__delineation {
    flex-direction: column;
    justify-content: center;
  }
  .select-result__item-desc {
    justify-content: center;
  }
  .select-result__delineation_img {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .select-result__delineation_text {
    text-align: center;
  }
  .select-result__delineation_status {
    margin: 0 auto;
  }
}
