$font-family: "Roboto";
//$weight: normal;
//$style: normal;
$neutral : #ffffff;
$logo1 : #292F5D;
$logo2 : #1285C4;
$mainScheme1 : #C05048;
$mainScheme2 : #FF9F4A;
$akcentDark : #3B3943;
$akcent1 : #8FC3DF;
$akcent2 : #E0EBF1;
$akcent3 : #81A0B0;
$akcent4 : #8DC21C;
$akcent5 : #FFEFC5;
$akcent6 : #F5CD54;
$akcent7 : #CEC8C2;
$akcent8 : #FFCC9F;
$akcent10 : #8F8684;

$free-bg : #E0EBF1;
$sales-bg : #FFCC9F;
$reserved-bg : #FFEFC5;